@import 'src/styles/variables';

.consequence-section--content-row {
  display: flex;
  flex-direction: row;

  &:not(:last-of-type) {
    margin-bottom: 5px;
  }

  .consequence-section--content-row-title {
    font-weight: 700;
  }

  .consequence-section--content-row-type {
    width: calc(50% - 1rem);
  }

  .consequence-section--content-row-taken {
    width: 1rem;
    height: 1rem;
    border: 1px solid #333333;
    border-radius: 50px;
    margin: 0 1rem;

    &.consequence-taken {
      @include damage-element;
    }
  }

  .consequence-section--content-row-aspect {
    width: calc(50% - 1rem);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
