.skill-section--row {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;

  .skill-section--row--title {
    margin-right: 10px;
  }

  .skill-section--row--skill-container {
    display: flex;
    flex-wrap: wrap;

    &.skill-section--row--skill-container-edit {
      width: 100%;
      border: 1px solid #a7a7a7;
      border-radius: 3px;
      padding: 5px;

      &.skill-section--row--skill-container-hover {
        border-color: red;
      }
    }

    .skill-section--row--skill {
      &.skill-section--row--skill-edit {
        padding: 2px 4px;
        border: 1px solid #0072cf;
        border-radius: 3px;
        background-color: #008cff;
        color: #ffffff;
        margin-right: 10px;
      }

      &:not(:last-of-type):not(.skill-section--row--skill-edit) {
        margin-right: 10px;
        &::after {
          content: ",";
        }
      }
    }
  }
}
