.skill-section--row {
  display: flex;
  flex-direction: row;
  padding: 10px;

  .skill-section--row--title {
    margin-right: 10px;
  }

  .skill-section--row--skill-container {
    display: flex;
    flex-wrap: wrap;

    .skill-section--row--skill {
      &:not(:last-of-type) {
        margin-right: 10px;
        &::after {
          content: ",";
        }
      }
    }
  }
}
