@import 'src/styles/variables';

.stress-box {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #333333;
  border-radius: 50px;
  counter-increment: stress;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;

  &::before {
    content: counter(stress)
  }

  &:not(:last-of-type) {
    margin-right: 5px;
  }

  &.stress-box--taken {
    @include damage-element;
  }

  &.stress-box--disabled {
    @include disabled-element;
  }
}

.stress-track {
  display: flex;
  flex-direction: column;
  margin: 10px 0;

  .stress-track--boxes {
    display: flex;
    flex-direction: row;
  }
}
